<h1>Register!</h1>

<%= form_for :user, url: '/users' do |f| %>
  <div style="display: block">
    <label style="margin: 5px; width: 170px">First name:</label>
    <%= f.text_field :first_name %>
  </div>
  <div>
    <label style="margin: 5px; width: 170px">Last name:</label>
    <%= f.text_field :last_name %>
  </div>
  <div>
    <label style="margin: 5px; width: 170px">Email:</label>
    <%= f.text_field :email %>
  </div>
  <div>
    <label style="margin: 5px; width: 170px">Password:</label>
    <%= f.password_field :password %>
  </div>
  <div>
    <label style="margin: 5px; width: 170px">Password confirmation:</label>
    <%= f.password_field :password_confirmation %>
  </div>

    <label style="margin: 5px;"><%= f.submit "Submit" %></label>

<% end %>
