<div>
  <% if review.rating == 1 %>
    <%= fa_icon "star", class: "gold" %><%= fa_icon "star-o" %><%= fa_icon "star-o" %><%= fa_icon "star-o" %><%= fa_icon "star-o" %>
  <% elsif review.rating ==2 %>
    <%= fa_icon "star", class: "gold" %><%= fa_icon "star", class: "gold" %><%= fa_icon "star-o" %><%= fa_icon "star-o" %><%= fa_icon "star-o" %>
  <% elsif review.rating ==3 %>
    <%= fa_icon "star", class: "gold" %><%= fa_icon "star", class: "gold" %><%= fa_icon "star", class: "gold" %><%= fa_icon "star-o" %><%= fa_icon "star-o" %>
  <% elsif review.rating ==4 %>
    <%= fa_icon "star", class: "gold" %><%= fa_icon "star", class: "gold" %><%= fa_icon "star", class: "gold" %><%= fa_icon "star", class: "gold" %><%= fa_icon "star-o" %>
  <% else %>
    <%= fa_icon "star", class: "gold" %><%= fa_icon "star", class: "gold" %><%= fa_icon "star", class: "gold" %><%= fa_icon "star", class: "gold" %><%= fa_icon "star", class: "gold" %>
  <% end %>
  (<em><%= review.rating %>/5</em>)
  <br>
  <%= review.description %>
  <% if current_user && current_user.id == review.user_id %>
    <%= link_to fa_icon('trash'), product_review_path(product_id: review.product_id, id: review.id), class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
  <hr>
</div>