<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <dt>Reviews</dt>
          <dd>
            <% if current_user %>
              <%= form_for [@product, @review] do |f| %>
                <u>Create a review</u>:
                <div style="display: block">
                  <label style="margin: 5px; width: 100px">Rating</label><%= select(:review, :rating, [5, 4, 3, 2, 1], include_blank: true)%>
                </div>
                <br>
                <div style="display: block">
                  <label style="margin: 5px; width: 100px">Description</label><%= f.text_area :description, placeholder: "Describe your experience with this product (optional)" %>
                </div>
                <%= f.submit %>
              <% end %>
            <% else %>
              <br>
              <em>You must be logged in to leave a review.</em><br><%= link_to "Login Here", login_path %>
            <% end %>
            <hr>
            <% if @product.reviews.any? %>
              <% @product.reviews.each do |review| %>
                <%= render 'review', review: review %>
              <% end %>
            <% else %>
              <em>There are currently no reviews for this product. Be the first!</em>
            <% end %>
          </dd>
        </dl>
      </div>
    </div>

  </article>

</section>
